<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ranker</title>
</head>

<script type="text/javascript">
  function upVote(element){
    var voteType = element.getAttribute("data-vote-type");
    var forumID = element.getAttribute("data-forum-id");
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
      if (this.readyState==4 && this.status==200){
        document.getElementById(forumID).innerHTML = this.responseText;
    }};
    xhttp.open("POST", "{{ url_for('forum.upVote') }}", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("forum_id="+forumID+"&vote_type="+voteType);
  }
</script>

<style>
  p#username{
    color: rgb(100, 100, 123);
    font-size: 15px;
  }
  div.down-arrow{
    /*code for flipping the image*/
    transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    /*end code for flipped image*/
  }
  div.comment-body > input{
    width: 500px;
    height: 200px;
    border-radius: 5px;
  }
</style>

<body>
  {% extends "layout.html" %}

  {% block main_content %}
    <div class="forum-box">
      <div class="left-box">
        <div class="up-arrow"><a href="#" style="text-decoration: none" onclick="upVote(this)" data-forum-id="{{ forum.id }}" data-vote-type="upvote">&#8679;</a></div>
        <div class="votes-box"><strong id="{{ forum.id }}">{{ forum.votes }}</strong></div>
        <div class="down-arrow"><a href="#" style="text-decoration: none" onclick="upVote(this)" data-forum-id="{{ forum.id }}" data-vote-type="downvote">&#8679;</a></div>
      </div>
      <div class="right-box">
        <p id="username">Posted by {{ forum.username }}</p>
        <h3>{{ forum.title }} : {{ forum.id }}</h3>
        <p>{{ forum.body }}</p>
      </div>
    </div>
    <div class="comment-form">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="comment-body">
          {{ form.body(placeholder='Type your heart out!') }}
          {% for error in form.body.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
        <div class="comment-submit-btn">
          {{ form.comment() }}
        </div>
      </form>
    </div>
    <div class="comments-section">

    </div>
  {% endblock %}
</body>

<footer></footer>

</html>