<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Movie Ranker</title>
</head>

<script>
  function confWindow(){
    let answer = confirm("Are you sure you want to remove this movie from your list?")
    return answer;
  }
</script>

<style>
  div.movie-content{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 5px;
    width: 800px;
    height: 150px;
  }
  div.movie-rank-box{
    background-color: rgb(33, 134, 223);
    width: 90px;
  }
  p.movie-rank-num{
    font-size: 25px;
  }
  div.movie-image-box > img{
    width: 110%;
    height: auto;
  }
  form#movie-submit-btn{
    background-color: rgb(223, 37, 37);
  }
  form#movie-submit-btn > button{
    height: 100%;
  }
</style>

<body>
  {% extends "layout.html" %}

  {% block nav_bar %}
    {{super()}}  
  {% endblock %}

  {% block main_content %}
    <h2>Favorite Movies:</h2>
    {% for movie in movies %}
      <div class="movie-content">
        <div class="movie-rank-box">
          <p class="movie-rank-num"><strong>{{ movie.movie_rank }}</strong></p>
          <form action="{{ url_for('movies.change_rank', movie_id=movie.movie_id, current_rank=movie.movie_rank) }}" method="post">
            <select name="rank" id="movie-rank">
              <option value=""></option>
              {% for rank in rank_list %}
                <option value="{{ rank }}">{{rank}}</option>
              {% endfor %}
            </select>
            <button type="submit">Change <br>Rank</button>
          </form>
        </div>
        <div class="movie-image-box">
          <img src="{{ movie.pic_url }}" alt="Missing movie image">
        </div>
        <ul>
          <li>{{ movie.title }}</li>
          <li>{{ movie.plot }}</li>
        </ul>
        <form id="movie-submit-btn" method="post" action="{{ url_for('movies.get_liked_movies') }}">
          <button type="submit" name="movie_id" value="{{ movie.movie_id }}" onclick="return confWindow()" style="background-color: rgb(223, 37, 37);"><i style="font-size:30px" class="fa">&#xf014;</i></button>
        </form>
      </div>
    {% endfor %}
    
  {% endblock %}

</body>

<footer>

</footer>