<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<style>
  .register-box{
    background-color: gray;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    position: relative;
    margin: auto;
    text-align: center;
  }
  .register-here a:hover{
    color: magenta;
  }
  div.guest-box{
    background-color: rgb(33, 134, 223);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin: auto;
  }
  div.guest-box > a{
    text-decoration: none;
    color: aliceblue;
  }
</style>

<script>
  window.onload=function(){         //window.onload fixed my issue of console logging form data.
    const form = document.querySelector('#login-form')
      form.addEventListener('submit', event => {
      event.preventDefault();
      const formData = new FormData(form);
      const data = Object.fromEntries(formData)
      console.log(data);
    });
  }
  
</script>

<body>
  {% extends "layout.html" %}

  {% block nav_bar %}
    {{ super() }}
  {% endblock %}

  {% block main_content %}
  <div class="register-box">
    <div class="register-here">
      <h3><a href="{{ url_for('user.register') }}">Create another account here</a></h3>
    </div>
    
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div>
        {{ form.email(placeholder='email') }}
        {% for error in form.email.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
      <div>
        {{ form.password(placeholder='password') }}
        {% for error in form.password.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
      <div>{{ form.submit() }}</div>
      <p class="or-box"><span>OR</span></p>
      <div class="guest-box">
        <a href="{{ url_for('user.login_guest') }}">Continue as Guest</a>
      </div>
      <br>
      {% for message in get_flashed_messages() %}
        <strong style="color: red;">{{ message }}</strong>
      {% endfor %}
    </form>
  </div> 
  {% endblock %}
</body>
</html>