{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ranker</title>
</head>
<style>
    li{
        margin-left: 45px;
    }
</style>
<script>
	/*window.onload=function(){         //window.onload fixed my issue of console logging form data.
    const form = document.querySelector('#movie-selection')
      form.addEventListener('submit', event => {
      event.preventDefault();
      const formData = new FormData(form);
      formData.append('movie')
			console.log('here')
      console.log(formData);
    });
  }*/
</script>
<body>
    {% block nav_bar %}
        {{ super() }}
    {% endblock %}
    {% block main_content %}
    <div>
        <h1>Movie List:</h1>
        {% block content %}
            {% for movie in movies %}
            <form id="movie-selection" method="post" action="{{ url_for('movies.get_picked_movies') }}">
                <ul>
                    <h2>{{movie.title}}</h2>
                    <li>{{movie.plot}}</li>
                    <li>{{movie.id}}</li>
                    <li><img src="{{movie.img_src}}" alt="Missing movie image"></li>
                        <input type="checkbox" name="movie" id="movie" value="{{movie}}">
                </ul>
            {% endfor %}
                <button type="submit" value="Add Movies">Submit</button>
            </form>      
        {% endblock %}
    </div>
    {% endblock %}
</body>
</html>