<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ranker</title>
</head>
<style>
    div.movie-content li{
        margin-left: 45px;
    }
</style>
<script type="text/javascript">
    function addMovie(element){
        var movieId = element.getAttribute("data-movie-btn-id");
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "{{ url_for('movies.add_movies') }}", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("movie_id="+movieId);
    }
</script>
<body>
    {% extends "layout.html" %}

    {% block nav_bar %}
        {{ super() }}
    {% endblock %}

    {% block main_content %}
    <div class="movie-content">
        <h1>Movie List:</h1>
        {% if 'is_guest' not in session %}
        <table class="movie-title-head">
            <tr>
                <th>Movie Thumbnail</th>
                <th>Movie Title</th>
                <th>Plot</th>
                <th>Add to My List</th>
            </tr>
            {% for movie in movies %}
                <tr>
                    <td><img src="{{movie.img_src}}" alt="Missing movie image"></td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.plot}}</td>
                    <td><button id="add-movie-btn" onclick="addMovie(this)" data-movie-btn-id="{{movie.id}}">Add Movie</button></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <table class="movie-title-head">
                <tr>
                    <th>Movie Thumbnail</th>
                    <th>Movie Title</th>
                    <th>Plot</th>
                    <th>Add to My List</th>
                </tr>
                {% for movie in movies %}
                    <tr>
                        <td><img src="{{movie.img_src}}" alt="Missing movie image"></td>
                        <td>{{movie.title}}</td>
                        <td>{{movie.plot}}</td>
                        <td><button>Add Movie</button></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>